body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
:root {
  --blue: #2587ff;
  --white: #fff;
}
.textd {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
}
.textd h1 {
  margin: 7rem 0px 0px 0rem;
}
h1 {
  color: var(--blue);
  font-weight: 900;
  margin: 7rem 0px 0px 2rem;
  line-height: 1;
}
.bt {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 600;
  border-radius: 0.2rem;
  margin: 1rem 0px 0px 2rem;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.division {
  border: none;
  outline: none;
  margin-bottom: 100rem;
  background-color: var(--white);
}
iframe {
  pointer-events: none;
}
.espa {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.quiz {
  display: flex;
  justify-content: space-around;
}
h6{
    margin: 1rem;
    font-size: 2.1rem;
}
.quiz img {
  border-radius: 0.3rem;
  box-shadow: 0px 0px 12px #00000060;
}
.espa img {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 12px #00000060;
}
.ki {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.espa h1 {
  margin: 0;
}
#bbt {
  margin: 0;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  nav li {
    display: block;
    margin-bottom: 10px;
  }
}
